body {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer {
    display: flex;
    align-items: center;
}

.container {width: 80%}
.stripe {width: 5%}
.container-right {width: 15%}