body {
    display: grid;
    grid-template-columns: 80% 5% 15%;
    gap: 0;
}

header {
    display: grid;
    align-items: center;
    justify-content: flex-end;
}

footer {
    display: grid;
    align-items: center;
}